/* common shared style   */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Azeret Mono", monospace;
}

.btn-first{
    color: #0D1321;
    background-color: white;
    font-size: 20px;
    font-weight: 600;
    opacity: 0.8;

    border-radius: 8px;
    border: 1px solid #0D1321;

    padding: 18px 35px;

}

.btn-second{
    color: white;
    background-color: #0D1321;
    font-size: 20px;
    font-weight: 600;

    border-radius: 8px;
    border: 1px solid #0D1321;

    padding: 18px 35px;
}

.description{
    color: #0D1321;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    opacity: .7;
}

.section-title{
    color: #0D1321;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
}

.anchor{
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-weight: 700;
    text-decoration-line: underline;
}

/* header */
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav{

    display: flex;

    justify-content: space-between;
    align-items: center;

    width: 90%;
    padding: 15px 0;
}


.nav-name{
    color: #0D1321;
    font-size: 28px;
    font-weight: 800;
}


/* banner */
.banner{
    background: url('assets/images/Hero-bg.png');

    width: 100%;
    margin: 30px;
}

.banner > div{
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;

    padding: 30px 0;
}

.banner-content h3{
    color: #0D1321;
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;

    width: 70%;
}

.banner-content p{
    text-align: center;
    width: 60%;
}


/* section-one */
.section-one{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
}

.section-one > div{
    background-color: rgba(13, 19, 33, 0.02);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;

    width: 90%;
    padding: 50px 0;
}

.section-one > div > p{
    text-align: center;
    width: 75%;
}
    /* block 3 tar jonne */
.block{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;

    width: 75%;
    margin-top: 20px;
}

.block > div{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 60px 20px 20px;
}

.block  button{
    align-self: flex-start;
}


.text-part-title{
    color: rgba(13, 19, 33, 0.70);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px; /* 150% */
}

/* */
.section-two{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
}

.section-two > div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;

    width: 90%;
    padding: 30px 0;
}

.section-two > div > p{
    text-align: center;
    width: 75%;
}

.video{
    padding: 32px;
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.20);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    
    margin: 20px;
}



/* section three */
.section-three{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
}

.section-three > div{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;

    width: 90%;
    padding: 30px 0;
}

.section-three > div > p{
    text-align: center;
    width: 75%;
}

.current{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.current-part{
    border-radius: 16px;
    
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
}

.current-part img{
    max-width: 100px;
    max-width: 100px;
}

.target-title{
    color: #0D1321;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px; /* 150% */
}

#one{
    background: rgba(255, 76, 30, 0.05);
}
#two{
    background: rgba(0, 76, 232, 0.05);
}
#three{
    background: rgba(255, 223, 0, 0.05);
}


/* section four */
.section-four{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
}

.section-four > div{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;

    width: 90%;
    padding: 30px 0;
}

.section-four > div > p{
    text-align: center;
    width: 75%;
}

.next{
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin-top: 20px;
}

.next-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.next-part{
    display: flex;
    gap: 30px;
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    padding: 30px;
}

.next-part > img{
    height: 120px;
    width: 110px;
}


/* section five   */
.section-five{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
}

.section-five > div{
    background-color: red;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;

    width: 90%;
    padding: 60px 0;
}

.section-five  h4{
    color: #FFF;
}
.section-five p{
    color: white;
    opacity: .7;

    text-align: center;
    width: 55%;
}

.input{
    display: flex;
    gap: 15px;
}

.input > textarea{
    background-color: green;
    color: rgba(13, 19, 33, 0.40);
    font-family: "Azeret Mono";
    font-size: 16px;
    font-weight: 400;

    box-sizing: border-box;
    padding: 10px;
    
}



/* footer  */